{% extends 'layouts/baseAuth.html' %}
{% block content %}
<a href="{% url 'login' %}" class="back-button text-dark"><i class="fas fa-arrow-left"></i></a>
<h2 class="text-center mb-4">Mot de passe oublié</h2>
        <form action="{% url 'forgot_password' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" name="email" class="form-control" id="email" placeholder="Entrez votre email" required>
            </div>
            {% if messages %}
                <div class="form-group">
                    {% for message in messages %}
                        <div class="text-success font-weight-bold">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <br>
            <button type="submit" class="btn btn-dark btn-block">Se connecter</button>
        </form>
{% endblock content %}



