
        

          <div class="flex justify-center items-center mt-4">
              <button class="scroll-button ml-4 bg-gray-700 hover:bg-gray-200 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="scrollTable(-1)"><</button>
              <button class=" scroll-button ml-4 bg-gray-700 hover:bg-gray-200 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="scrollTable(1)">></button>
          </div>
      </div>
 
{% endblock content %}

