{% extends 'layouts/baseAdmin.html' %}
{% block contenttwo %}
    
   <!----Table-----> 
   <div class="contrats">
    <h2>Listes des employés</h2>
    <!-- Barre de recherche et bouton de création -->
    <div class="btn-container">
        <a href="{% url 'listeCompte' %}" class="create-account-link"><span class="material-symbols-outlined">
            list_alt
            </span><h3>Comptes</h3></a>
        <a href="{% url 'listeEntreprise' %}" class="create-account-link"><span class="material-symbols-outlined">
            list_alt
            </span><h3>Entreprises</h3></a>
        <a href="{% url 'createCompte' %}" class="create-account-link"><span class="material-symbols-outlined">
            add
            </span><h3>Ajouter</h3></a>
    </div>
    <div class="search-bar-container">
        <form method="GET" action="{% url 'listeEmploye' %}" class="search-form">
            <div class="search-input-container">
                <input type="text" name="q" placeholder="Recherche..." class="search-input" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Recherche...'">
                <span class="material-symbols-outlined search-icon">
                    manage_search
                    </span>
            </div>
            <button type="submit" class="search-button">Rechercher</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Adresse</th>
                <th>Domaine</th>
                <th>Compétences</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
            <tr>
                <td>{{ employe.utilisateur.nom }}</td>
                <td>{{ employe.utilisateur.prenom }}</td>
                <td>{{ employe.utilisateur.email }}</td>
                <td>{{ employe.utilisateur.contact }}</td>
                <td>{{ employe.utilisateur.adresse }}</td>
                <td>{{ employe.domaine }}</td>
                <td>
                    {% for competence in employe.competence_set.all %}
                        {{ competence.competence }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!----fin Table----> 
{% endblock contenttwo %}

