{% extends 'layouts/base.html' %}
{% block content %}
    
{% endblock content %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tableau de Bord Admin{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class='container'>
        <aside>
            <div classe="top">
                <div classe="logo">
                    <img src="#">
                    <h2>Hr<span class="dark">Bridge</span></h2>
                </div> 
                <div classe="close" id="close-btn">
                    <span class="material-symbols-outlined">close</span>
                </div> 
                <div classe="sidebar">
                    <a href="#">
                        <span class="material-symbols-outlined">grid_view</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">
                            manage_accounts
                            </span>
                        <h3>Comptes</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">
                            contract
                            </span>
                        <h3>Contrats</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">
                            list_alt
                            </span>
                        <h3>Demandes</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">
                            receipt_long
                            </span>
                        <h3>Fiche de paies</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">
                            work
                            </span>
                        <h3>Annonces</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">
                            mail
                            </span>
                        <h3>Messages</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">
                            report
                            </span>
                        <h3>Rapports</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">
                            settings
                            </span>
                        <h3>Paramètres</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">
                            logout
                            </span>
                        <h3>Déconnexion</h3>
                    </a>
                </div> 
            </div>  
        </aside> 
    </div>

</body>
</html>
