{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un Contrat</title>
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <!-- CSS Files -->
    <link href="{% static 'assets/css/step.css' %}" rel="stylesheet">
</head>
<body>
    <div id="page" class="site">
        <div class="container">
            <div class="form-box">
                <div class="progress">
                    <div class="logo">
                        <a href="#"><span>Hr</span>Bridge</a>
                    </div>
                    <ul class="progress-steps">
                        <li class="step active">
                            <span>1</span>
                            <p>Choisir l'employé</p>
                        </li>
                        <li class="step">
                            <span>2</span>
                            <p>Choisir l'entreprise</p>
                        </li>
                        <li class="step">
                            <span>3</span>
                            <p>Complèter le reste</p>
                        </li>
                    </ul>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-one form-step active">
                        <h2>Employé</h2>
                        <label for="employe" class="form-label">Employé</label>
                        <select class="form-select" id="employe" name="employe">
                            <option value="">Sélectionner un employé</option>
                            {% for employe in employes %}
                                <option value="{{ employe.id }}">{{ employe.utilisateur.nom }} {{ employe.utilisateur.prenom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-two form-step">
                        <h2>Entreprise</h2>
                        <label for="entreprise" class="form-label">Entreprise</label>
                        <select class="form-select" id="entreprise" name="entreprise">
                            <option value="">Sélectionner </option>
                            {% for entreprise in entreprises %}
                                <option value="{{ entreprise.id }}">{{ entreprise.nom_entreprise }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-three form-step">
                        <h2>Créer le contrat</h2>
                        <!-- Champs que l'utilisateur peut compléter -->
                        <div>
                            <label for="date_debut" class="form-label">Date de début</label>
                            <input type="date" class="form-control" id="date_debut" name="date_debut">
                        </div>
                        <div>
                            <label for="date_fin" class="form-label">Date de fin</label>
                            <input type="date" class="form-control" id="date_fin" name="date_fin">
                        </div>
                        <div>
                            <label for="type_contrat" class="form-label">Type de Contrat</label>
                            <input type="text" class="form-control" id="type_contrat" name="type_contrat">
                        </div>
                        <div>
                            <label for="type_remuneration" class="form-label">Type de Rémunération</label>
                            <select class="form-select" id="type_remuneration" name="type_remuneration">
                                <option value="">Payemment </option>
                                <option value="MO">Par mois</option>
                                <option value="JO">Par jour</option>
                                <option value="HE">Par heure</option>
                            </select>
                        </div>
                        <div>
                            <label for="montant" class="form-label">Montant</label>
                            <input type="number" class="form-control" id="montant" name="montant" step="0.01">
                        </div>
                        <!-- Champs remplis automatiquement -->
                        <div>
                            <label for="nom_entreprise_employeur" class="form-label">Nom Entreprise</label>
                            <input type="text" class="form-control" id="nom_entreprise_employeur" name="nom_entreprise_employeur">
                        </div>
                        <div>
                            <label for="contact_entreprise" class="form-label">Contact Entreprise</label>
                            <input type="text" class="form-control" id="contact_entreprise" name="contact_entreprise">
                        </div>
                        <div>
                            <label for="email_entreprise" class="form-label">Email Entreprise</label>
                            <input type="email" class="form-control" id="email_entreprise" name="email_entreprise">
                        </div>
                        <div>
                            <label for="adresse_entreprise" class="form-label">Adresse Entreprise</label>
                            <input type="text" class="form-control" id="adresse_entreprise" name="adresse_entreprise">
                        </div>
                        <div>
                            <label for="nom_employe" class="form-label">Nom Employé</label>
                            <input type="text" class="form-control" id="nom_employe" name="nom_employe">
                        </div>
                        <div>
                            <label for="prenom_employe" class="form-label">Prénom Employé</label>
                            <input type="text" class="form-control" id="prenom_employe" name="prenom_employe">
                        </div>
                        <div>
                            <label for="contact_employe" class="form-label">Contact Employé</label>
                            <input type="text" class="form-control" id="contact_employe" name="contact_employe">
                        </div>
                        <div>
                            <label for="email_employe" class="form-label">Email Employé</label>
                            <input type="email" class="form-control" id="email_employe" name="email_employe">
                        </div>
                        <div>
                            <label for="adresse_employe" class="form-label">Adresse Employé</label>
                            <input type="text" class="form-control" id="adresse_employe" name="adresse_employe">
                        </div>
                        <div>
                            <label for="clause" class="form-label">Adresse Employé</label>
                            <input type="text" class="form-control" id="clause" name="clause">
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn-prev" disabled>Retour</button>
                        <button type="button" class="btn-next">Suivant</button>
                        <button type="submit" class="btn-save">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- JS script -->
    <script src="{% static 'script/step.js' %}"></script>
</body>
</html>
