<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .nav-item.active {
            border-bottom: 2px solid #0f0c29; /* Couleur bleue pour la barre active */
            color: #0f0c29; /* Texte noir */
        }
    </style>
</head>
<body class="bg-white">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">
                HrBridge
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if active_page == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Accueil</a>
                    </li>
                    <li class="nav-item {% if active_page == 'services' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'services' %}">Services</a>
                    </li>
                    <li class="nav-item {% if active_page == 'annonces' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'annonces' %}">Annonces</a>
                    </li>
                    <li class="nav-item {% if active_page == 'about' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'about' %}">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-semibold" href="#">Contactez-nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light text-dark font-weight-bold py-2 px-4" href="{% url 'login' %}">Se connecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container py-6">
        <!-- Content goes here -->
        {% block content %}
    
        {% endblock content %}
    </div>
</body>
</html>
