{% extends 'admin/baseAdmin.html' %}
{% block content %}
    <!-- Cards -->
    {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
                <div class="bg-gradient-to-r text-black text-center px-4 py-2 rounded shadow-md">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
        <!-- Statistiques -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
            <div class="bg-pink-100 p-4 rounded-lg shadow-md relative">
                <div class="flex items-center justify-between mb-2">
                    <h3 class="text-xl font-bold text-left">Comptes</h3>
                    <svg class="h-12 w-12 text-blue-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex justify-end mb-2">
                    <h4 class="text-xl font-bold text-left">{{ total_users }}</h4>
                </div>
            </div>
            <div class="bg-blue-200 p-4 rounded-lg shadow-md relative">
                <div class="flex items-center justify-between mb-2">
                    <h3 class="text-xl font-bold text-left">Employés</h3>
                    <svg class="h-12 w-12 text-green-400" viewBox="0 0 64 64" fill="currentColor" aria-hidden="true">
                        <circle cx="32" cy="32" r="30" stroke="currentColor" stroke-width="2" fill="none"/>
                        <g fill="currentColor">
                          <path d="M32 34c-5 0-9 4-9 9h18c0-5-4-9-9-9z"/>
                          <circle cx="32" cy="24" r="5"/>
                          <path d="M17 38c-4 0-7 3-7 7h14c0-4-3-7-7-7z"/>
                          <circle cx="17" cy="31" r="4"/>
                          <path d="M47 38c-4 0-7 3-7 7h14c0-4-3-7-7-7z"/>
                          <circle cx="47" cy="31" r="4"/>
                        </g>
                      </svg>
                      
                </div>
                <div class="flex justify-end mb-2">
                    <h4 class="text-xl font-bold text-left">{{ total_employees }}</h4>
                </div>
            </div>
            <div class="bg-green-100 p-4 rounded-lg shadow-md relative">
                <div class="flex items-center justify-between mb-2">
                    <h3 class="text-xl font-bold text-left">Entreprises Partenaires</h3>
                    <svg class="h-12 w-12 text-blue-300" viewBox="0 0 64 64" fill="currentColor" aria-hidden="true">
                        <rect x="10" y="22" width="10" height="30" fill="currentColor"/>
                        <rect x="26" y="10" width="12" height="42" fill="currentColor"/>
                        <rect x="44" y="26" width="10" height="26" fill="currentColor"/>
                        <rect x="12" y="40" width="6" height="12" fill="white"/>
                        <rect x="28" y="28" width="6" height="6" fill="white"/>
                        <rect x="30" y="38" width="6" height="14" fill="white"/>
                        <rect x="46" y="40" width="6" height="12" fill="white"/>
                      </svg>
                      
                </div>
                <div class="flex justify-end mb-2">
                    <h4 class="text-xl font-bold text-left">{{ total_partners }}</h4>
                </div>
            </div>
        </div>
        <!-- Barre de recherche et bouton de création -->
        <div class="flex justify-between items-center mb-4">
            <form method="GET" action="{% url 'adminPage' %}" class="flex items-center">
                <div class="relative w-full">
                    <input type="text" name="q" placeholder="Recherche..." class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pl-10">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M9 3a7 7 0 100 14 7 7 0 000-14z"></path>
                        </svg>
                    </div>
                </div>
                <button type="submit" class="ml-4 bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Rechercher</button>
            </form>
            <a href="{% url 'createCompte' %}" class="bg-purple-300 rounded-md text-sm font-bold leading-6 text-gray-700 hover:bg-purple-200 py-2 px-4">Créer Compte</a>
        </div>

        <!-- Tableau des utilisateurs -->
        <div class="bg-white shadow-md rounded-lg p-1">
            <table>
                <thead >
                    <tr>
                        <th class="py-2 px-4 border-b border-gray-200">Nom</th>
                        <th class="py-2 px-4 border-b border-gray-200">Prénom</th>
                        <th class="py-2 px-4 border-b border-gray-200">Email</th>
                        <th class="py-2 px-4 border-b border-gray-200">Contact</th>
                        <th class="py-2 px-4 border-b border-gray-200">Rôle</th>
                        <th class="py-2 px-4 border-b border-gray-200">Adresse</th>
                        <th class="py-2 px-4 border-b border-gray-200">Actif</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="py-2 px-4 border-b border-gray-200">{{ user.nom }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">{{ user.prenom }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">{{ user.email }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">{{ user.contact }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">{{ user.get_role_display }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">{{ user.adresse }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">
                                <a href="{% url 'status' user.id %}" class="text-green-500 hover:text-blue-700">
                                    {% if user.is_active %}
                                        <i class="fas fa-toggle-on"></i>
                                    {% else %}
                                        <i class="fas fa-toggle-off"></i>
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="flex justify-center items-center mt-4">
                <button class="scroll-button ml-4 bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="scrollTable(-1)"><</button>
                <button class=" scroll-button ml-4 bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="scrollTable(1)">></button>
            </div>
        </div>
   
{% endblock content %}

