{% extends 'layouts/baseAuth.html' %}
{% block content %}
<a href="{% url 'home' %}" class="back-button text-dark"><i class="fas fa-arrow-left"></i></a>
    <h2 class="text-center mb-4">Connexion</h2>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group font-semibold">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Entrez votre email" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe:</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Entrez votre mot de passe" required>
            </div>
            {% if messages %}
                <div class="form-group">
                    {% for message in messages %}
                        <div class="text-danger font-weight-bold">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="forgot-password">
                <a href="{% url 'forgot_password' %}" class="text-dark text-decoration-none ">Mot de passe oublié ?</a>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Se connecter</button>
        </form>
{% endblock content %}



