{% extends 'layouts/baseProfile.html' %}
{% block content %}  
<div class="border-bottom pb-3 mb-4">
    <h2 class="h5 font-weight-bold">Informations professionnelles</h2>
    <div class="mt-4 row">
        <div class="col-md-6">
            <label for="departement" class="form-label font-weight-bold">Département</label>
            <div class="mt-2">
                <input id="departement" name="departement" type="text" value="{{ admin_info.departement }}" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <label for="poste_occupe" class="form-label font-weight-bold">Poste Occupé</label>
            <div class="mt-2">
                <input id="poste_occupe" name="poste_occupe" type="text" value="{{ admin_info.poste_occupe }}" class="form-control">
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block section %}
    <a href="{% url 'adminPage' %}" class="btn btn-outline-secondary mr-3">
        Annuler
    </a>
{% endblock section %}
